/**
 * https://docs.microsoft.com/en-us/windows/uwp/design/style/images/uwp-color-table.png
 */
app-header-reference {
    color: #ffb900; /** */
    color: #ff8c00; /** */
    color: #f7630c; /** */
    color: #ca5010; /** */
    color: #da3b01; /** */
    color: #ef6950; /** */
    color: #d13438; /** */
    color: #ff4343; /** */

    color: #e74856; /** */
    color: #e81123; /** */
    color: #ea005e; /** */
    color: #c30052; /** */
    color: #e3008c; /** */
    color: #bf0077; /** */
    color: #c239b3; /** */
    color: #9a0089; /** */

    color: #0078d7; /** */
    color: #0063b1; /** */
    color: #8e8cd8; /** */
    color: #6b69d6; /** */
    color: #8764b8; /** */
    color: #744da9; /** */
    color: #b146c2; /** */
    color: #881798; /** */

    color: #0099bc; /** */
    color: #2d7d9a; /** */
    color: #00b7c3; /** */
    color: #038387; /** */
    color: #00b294; /** */
    color: #018574; /** */
    color: #00cc6a; /** */
    color: #10893e; /** */

    color: #7a7574; /** */
    color: #5d5a58; /** */
    color: #68768a; /** */
    color: #515c6b; /** */
    color: #567c73; /** */
    color: #486860; /** */
    color: #498205; /** */
    color: #107c10; /** */
    
    color: #767676; /** */
    color: #4c4a48; /** */
    color: #69797e; /** */
    color: #4a5459; /** */
    color: #647c64; /** */
    color: #525e54; /** */
    color: #847545; /** */
    color: #7e735f; /** */
}
