body {
    font-family: "Segoe UI", "Open Sans";
    overflow-x: hidden;
}
:root {
    --fluent-theme-color: #FF4343;
}
fl-pivot table td {
    padding: 5px 10px;
}

/* */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.x-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    transition: box-shadow 0.1s ease-in-out;
}
.x-card > *:not(img) {
    padding: 0px 10px;
}

.content > div > div {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.content > div > div a {
    flex-grow: 1;
    width: 15rem;
    margin: 1rem;
    text-decoration: none;
    color: black;
}
.content .x-card {
    height: 100%;
    max-width: 20rem;
}
.content .x-card > img {
    height: 15rem;
}
.content .x-card > h3 {
    flex-grow: 1;
}
.content .x-card > p > * {
    vertical-align: middle;
}
.content .x-card > p > img {
    margin-right: 5px;
}
