<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
        <meta name="google-site-verification" content="2m3zXCvheBdQFxmHUUYcPWwMBIdEaBKJEN3f4YbnYcw" />
        <meta name="description" content="<%= description %>" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="apple-mobile-web-app-title" content="<%= title %>" />
        <meta name="theme-color" content="<%= color %>" />
        <!---->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@Nektro">
        <meta name="twitter:title" content="<%= title %>">
        <meta name="twitter:description" content="<%= description %>">
        <meta name="twitter:creator" content="@Nektro">
        <meta name="twitter:image" content="https://apps.nektro.net/<%= name %>/dusk.png">
        <!---->
        <meta property="og:type" content="article" />
        <meta property="og:title" content="<%= title %>" />
        <meta property="og:description" content="<%= description %>" />
        <meta property="og:url" content="https://apps.nektro.net/<%= name %>/" />
        <meta property="og:image" content="https://apps.nektro.net/<%= name %>/dusk.png" />
        <meta property="og:site_name" content="Web Apps by Sean Denny" />
        <!---->
        <link rel="apple-touch-icon" href="./dusk.png" />
        <link rel="icon" href="./dusk.png" type="image/png" />
        <link rel="manifest" href="./manifest.json" />
        <link rel="canonical" href="https://apps.nektro.net/<%= name %>/" />
        <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.0/normalize.css" integrity="sha384-jTFzRHnGayPcZHkUx5hTuWbygQevlGFimHdpRHicjyJXGyyjcioudSScb7/YN0PE" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
        <link rel="stylesheet" href="https://unpkg.com/sweetalert2@7.1.2/dist/sweetalert2.min.css" integrity="sha384-GxCm3mF9sFJUfue4sEyoE/v4YrORYPj+C/aFCOstibRKTQjsaoBWsnA0KhrP1mBa" crossorigin="anonymous" />
        <link rel="stylesheet" href="./../_resources/app.css" />
        <link rel="stylesheet" href="./app.css" />
        <!---->
        <script defer src="https://cdn.rawgit.com/webcomponents/custom-elements/8efcfbd/custom-elements.min.js"></script>
        <script defer src="https://cdn.rawgit.com/webcomponents/shadydom/00b864f/shadydom.min.js"></script>
        <script defer src="https://unpkg.com/sweetalert2@7.1.2/dist/sweetalert2.min.js" integrity="sha384-/wm6LtV+bJf2d8NzVax31g8W17Jh9HkyTFrwJV5b3Ie+/KWTcz+o5nxMwfDHFpFE" crossorigin="anonymous"></script>
        <script type="module" src="./app.js"></script>
        <script type="module" src="https://cdn.rawgit.com/Nektro/fluent_design.js/0d0202c/src/design.js"></script>
        <script nomodule async defer src="./../_resources/nomodule.js"></script>
        <script async defer src="https://unpkg.com/sw-toolbox@3.6.0/companion.js" data-service-worker="../sw.js"></script>
        <noscript><style>header, main, footer { display:none; } body { margin:1em; }</style></noscript>
    </head>
    <body>
        <noscript><p><%= title %> requires JavaScript to run, please enable it if you would like to use this app.</p></noscript>
        <header>
            <fl-titlebar title="<%= title %>" color="<%= color %>" back="false" window="false"></fl-titlebar>
        </header>
