<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
        <meta name="google-site-verification" content="2m3zXCvheBdQFxmHUUYcPWwMBIdEaBKJEN3f4YbnYcw" />
        <meta name="description" content="<%= description %>" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="apple-mobile-web-app-title" content="<%= title %>" />
        <!---->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@Nektro">
        <meta name="twitter:title" content="<%= title %>">
        <meta name="twitter:description" content="<%= description %>">
        <meta name="twitter:creator" content="@Nektro">
        <meta name="twitter:image" content="https://apps.nektro.net/_resources/icons/<%= name %>.png">
        <!---->
        <meta property="og:type" content="article" />
        <meta property="og:title" content="<%= title %>" />
        <meta property="og:description" content="<%= description %>" />
        <meta property="og:url" content="https://apps.nektro.net/<%= name %>" />
        <meta property="og:image" content="https://apps.nektro.net/_resources/icons/<%= name %>.png" />
        <meta property="og:site_name" content="Web Apps by Sean Denny" />
        <!---->
        <link rel="apple-touch-icon" href="./../_resources/icons/<%= name %>.png" />
        <link rel="shortcut icon" href="./../_resources/icons/<%= name %>.png" type="image/png" />
        <link rel="manifest" href="./_resources/manifest/<%= name %>.json" />
        <link rel="canonical" href="https://apps.nektro.net/<%= name %>" />
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/7.0.0/normalize.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
        <link rel="stylesheet" href="https://unpkg.com/sweetalert2@7.1.2/dist/sweetalert2.min.css" />
        <link rel="stylesheet" href="./_resources/css/<%= name %>.css" />
        <!---->
        <script defer src="https://unpkg.com/sweetalert2@7.1.2/dist/sweetalert2.min.js"></script>
        <script type="module" src="./_resources/js/<%= name %>.js"></script>
        <script type="module" src="https://cdn.rawgit.com/Nektro/fluent_design.js/4b6c555/src/design.js"></script>
        <script nomodule defer async src="./../_resources/nomodule.js"></script>
        <noscript><style>header, main, footer { display:none; } body { margin:1em; }</style></noscript>
    </head>
    <body>
        <noscript><p>News requires JavaScript to run, please enable it if you would like to use this app.</p></noscript>
        <header>
            <fl-titlebar title="<%= title %>" color="<%= color %>" back="false" window="false"></fl-titlebar>
        </header>