main {
    text-align: center;

    h1 {
        margin: .2em 1em;
        text-align: left;

        span {
            font-weight: normal;
            font-size: .8em;
        }
        select {
            font-size: .7em;
        }
    }
    x-movie {
        margin: 1em;
        display: inline-block;
        box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.2);
        max-width: 8em;
        vertical-align: top;
        text-align: left;

        a {
            text-decoration: none;
            display: block;
            color: black;

            img {
                max-width: 100%;
                display: block;
            }
            div {
                padding: .25em;
                padding-top: 0;
                white-space: nowrap;
                overflow-x: hidden;
                text-overflow: ellipsis;

                &:nth-of-type(2) {
                    color: darkgray;
                }
            }
        }
    }
    > div {
        &[data-file="movie"] {
            display: flex;
            flex-direction: row;
            margin: 1em;

            > div {
                text-align: left;
                margin: .5em;
            }
            h1 {
                margin: 0;
            }
            a {
                text-decoration: none;
                background-color: lightcoral;
                color: black;
                border-radius: .5em;
                padding: .5em;
                display: inline-block;
                transition: background-color .1s;

                &:hover {
                    background-color: aqua;
                }
            }
        }
    }
}
